@model MyBlog.Models.Posts


@{
    ViewData["Title"] = "Edit";
}
<header class="container-fluid">
    <div class="row">
        <img src="@("~/img/" + Model.Image)" asp-append-version=true />
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h4>Edit Post</h4>
            <hr />
            <div class="row">
                <div class="col-lg-12 col-md-4">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Author" class="control-label"></label>
                            <input asp-for="Author" class="form-control" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div> 

                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" type="file" accept="image/png, image/jpeg" class="form-control" />
                            <!--span asp-validation-for="ImageFile" class="text-danger"></span!-->
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageCredit" class="control-label"></label>
                            <input asp-for="ImageCredit" class="form-control" />
                            <span asp-validation-for="ImageCredit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Intro" class="control-label"></label>
                            <textarea asp-for="Intro" class="form-control"></textarea>
                            <span asp-validation-for="Intro" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Article" class="control-label"></label>
                            <textarea id="edit-article" asp-for="Article" class="form-control"></textarea>
                            <span asp-validation-for="Article" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" CausesValidation="False" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
            </div>
        </div>
    </div>
